# Mac OS X
.DS_Store

# WebStorm
.idea/workspace.xml

# npm
node_modules/**/.bin/

# Build artifacts
generated/


### npm modules' build artifacts ###

# Selenium WebDriverJS & Karma: Optional dependencies that don't build on vanilla Windows
node_modules/bufferutil/
node_modules/utf-8-validate/
node_modules/fsevents/
