body {
	background-color: #41a9cc;
	font-family: "alwyn-new-rounded-web", "Helvetica", sans-serif;
	font-weight: 300;
	margin: 0;
	margin-bottom: 13px;
	padding: 0;
}

#logo {
	line-height: 1;
	height: 30px;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	color: white;
}

#tagline {
	line-height: 17px;
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 14px;
	color: #0d576d;
}

#drawing-area {
	height: 475px;
	background-color: white;
	border-radius: 2px;
}

#drawing-area-container {
	width: 980px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#drawing-area-arrow {
	background-image: url(/images/arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 9px;

	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

#clear-button {
	font-family: "alwyn-new-rounded-web", "Helvetica", sans-serif;
	font-weight: 600;
	font-size: 12px;
	position: absolute;
	top: 15px;
	right: 15px;
	border: none;
	padding: 0;
	margin: 0;
	color: #595959;
	background-color: #e5e5e5;
	height: 30px;
	line-height: 30px;
	width: 70px;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #a7a9ab;
	text-transform: uppercase;
}

#clear-button:hover, #clear-button._hover_ {
	background-color: #d9d9d9;
}

#clear-button:active, #clear-button._active_ {
	top: 16px;
	box-shadow: none;
}

#footer {
	line-height: 1.2;
	text-align: center;
	margin-top: 13px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	font-size: 15px;
	color: white;
}

#join-us {
	font-weight: 400;
	font-size: 16px;
	display: block;
	text-align: center;
	margin-top: 13px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: #00799c;
	height: 35px;
	line-height: 35px;
	width: 175px;
	border-radius: 2px;
	box-shadow: 0 1px 0 0 #0d576d;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
}

#join-us:hover, #join-us._hover_ {
	background-color: #006f8f;
}

#join-us:active, #join-us._active_ {
	box-shadow: none;
	position: relative;
	top: 1px;
}